<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @add_description_to_plan.description %>
</p>

<%= link_to 'Edit', edit_add_description_to_plan_path(@add_description_to_plan) %> |
<%= link_to 'Back', add_description_to_plans_path %>
